#disableOwnerWrap
	span.fa.fa-close.closeDisableOwner#closePos

	h2 删除

	br
	br

	span 你想把这个Marble所有者存档吗?

	br
	br

	span 他们的Marble也将被存档.

	br
	br

	button.closeDisableOwner(style="float:left;") 不是
	span &nbsp;&nbsp;
	button(style="float:right;")#removeOwner 是